.dialog{
    position:fixed;
    _position:absolute;
    z-index:1000
}
.dialog .dialog-content{
    position:relative;
    z-index:2;
    background:#fff;
    border:1px solid #bbb;
    -moz-border-radius:4px;
    border-radius:4px;
    *zoom:1
} 
.dialog .hd{
    padding:10px 10px 6px;    
    font-size:14px;
    -moz-border-radius:4px;
    border-radius:4px 4px 0 0
}
.dialog .hd h3{
    padding:0 40px 0 4px;
    background:0;    
}
.dialog .error{
    background:#fae9da;    
}
.dialog .error h3{
    /*color:#060*/
    color:#ca6445
}
.dialog .tips{
    background:#ebf5eb;    
}
.dialog .tips h3{
    color:#060   
}

.dialog .success{
    background:#ebf5eb;    
}
.dialog .success h3{
    color:#060   
}
.dialog .hd h3 i{
    color:#060;
    font-style:normal;
    margin-left:.5ex
}
.dialog .bd{
    position:relative;
    padding:15px;
    *zoom:1;
    font-size:12px
}
.dialog .bd:after{
    content:'';
    clear:both;
    display:block
}
.dialog .ft .bn-flat,.dialog .ft input{
    margin:0 .5em;
    padding: 0 14px;
}
.dialog .ft{
    text-align:center;
    padding:10px;
    padding-top:0
}
.dialog .dialog-close{
    position:absolute;
    top:10px;
    right:12px;
    padding:0 3px;
    z-index:1;
    font:11px/1.2 "Comic Sans MS",sans-serif
}
a.dialog-close:link{
    color:#b4b4b4
}
a.dialog-close:hover{
    color:#fab0b6;
    background:0
}
.dialog .dialog-shd{
    position:absolute;
    left:-8px;
    top:-8px;
    width:100%;
    height:100%;
    padding:8px;
    background:#666;
    opacity:.4;
    filter:alpha(opacity=50);
    -ms-filter:"alpha(opacity=50)";
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-raduis:5px
}
.dialog-iframe{
    border:0;
    background:transparent;
    position:absolute;
    z-index:1;
    left:-8px;
    top:-8px;
    opacity:0;
    filter:alpha(opacity=0)
}
.dialog-msk{
    background:#fff;
    position:absolute;
    width:100%;
    z-index:999;
    left:0;
    top:0;
    opacity:.7;
    filter:alpha(opacity=70)
}
.dialog-btn{
    border: 0;
    height: 25px;
    padding: 0 14px;
    color: #333;    
    font-size: 12px;
    margin: 0!important;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-image: -moz-linear-gradient(-90deg,#fcfcfc 0,#e9e9e9 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fcfcfc),color-stop(1,#e9e9e9));
}
.dialog-buttons{
    padding: 0 15px;
margin-bottom: 15px;
text-align: right;
background: #fff;
}
.options li {
float: left;
list-style: none;
width: 50%;
line-height: 2;
}
.options label {
cursor: pointer;
width:auto;
}
.options input, .options textarea,.dialog button {
font-family: 'Helvetica Neue',Helvetica,Arial,Sans-serif;
line-height: 1.7;
font-size: 13px;
padding: 0;
margin: 0;
color: #222;
word-wrap: break-word;
}
.dialog .cancel{
border: 0;
color: #259;
background: transparent;
cursor: pointer;
margin: 0 15px 0 0;
}
.dialog .ok{
    font-size: 14px;
line-height: 1.7;
text-decoration: none!important;
vertical-align: middle;
display: inline-block;
_display: inline!important;
text-align: center;
padding: 4px 10px;
cursor: pointer;
border-radius: 3px;
white-space: nowrap;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
background: #1472CF;
background-color: #1575d5;
background-image: -moz-linear-gradient(top,#1d7fe2,#0865c2);
background-image: -ms-linear-gradient(top,#1d7fe2,#0865c2);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#1d7fe2),to(#0865c2));
background-image: -webkit-linear-gradient(top,#1d7fe2,#0865c2);
background-image: -o-linear-gradient(top,#1d7fe2,#0865c2);
background-image: linear-gradient(top,#1d7fe2,#0865c2);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1d7fe2', endColorstr='#0865c2', GradientType=0);
text-shadow: 0 -1px 0 rgba(0,0,0,.5);
border: 1px solid #0D6EB8;
color: #fff!important;
box-shadow: 0 1px 0 rgba(255,255,255,.2) inset,0 1px 0 rgba(0,0,0,.2);
}