/**
 * Author site@www.newsoul.cn
 * Author:dafei
 * 2014-03-24
 * 如果您看到这里，真诚希望您反馈意见或建议。
 */
html,body
{
    border:0 none;
    font-family:microsoft yahei,tahoma,simsun,Helvetica,Arial,sans-serif;
    background:#FFF;
    margin:0;
    padding:0;
    font-size: 12px;	
    width:100%;
    height:100%;
    _height:100%;
}

body
{
    overflow:hidden;
    min-width:950px;
}

.header
{
    width:100%;
    height:70px;
    display:inline-block;
    background-color: #f1f1f1;
    background-image: -webkit-gradient(radial,100 36,0,100 -40,120,from(#fafafa),to(#f1f1f1));
    border-bottom: 1px solid #666;
    border-color: #e5e5e5;
}

.main .logo
{
}
.main .logo img{
    max-width: 150px;
}
.header .nav
{
}

.header .nav ul,.header .nav ul li
{
    list-style:none;
    margin:0;
    padding:0;
}

.header .nav ul
{
    height:36px;
    line-height:36px;
    display:inline;
    zoom:1;
}

.header .nav ul li
{
    float:left;
    text-align:center;
    font-weight: bold;
    height: 35px;
    margin: 0 10px 0 0;
}
.header .nav ul li a.current,.header .nav ul li a:hover{
    border-bottom: 3px solid #dd4b39;
    color: #dd4b39;
}

.header .nav ul li a
{
    display:block;
    text-decoration:none;
    font-weight:700;
    background-image:url(about:blank);
}

.header .nav ul li.active,.header .nav ul li.active div,.header .nav ul li.active a
{
    background:#3c5880;
}

.header .nav ul li.active
{
    background-position:0 -36px;
    background-repeat:repeat-x;
    overflow:hidden;
}

.header .nav ul li.active a
{
    background-position:100% -72px;
    color:#FFF;
}

.header .logininfo
{
    height:30px;
    line-height:30px;
    color:#fff;
    font-size:12px;
    background-color: #2d2d2d;
    text-align: right;
    border-bottom: 1px solid #000;
}
.header .logininfo em
{
    font-style:normal;
}

.header .logininfo a
{
    color:#fff;
    text-decoration:none;
}

.header .logininfo span
{
    margin-right: 5px;
}

.loginmain
{
    margin:100px 0;
}

.main
{	
    width:100%;

}

.main .aside
{
    font-size:12px;	
    text-align: center;
    padding:10px 0 0 0;
    display: block;
    float:right
}
.aside .list_btn {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #0baf57;
    padding: 0 5px 0 5px;
    margin: 0 0 5px 0;
    width: 130px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    background: #eff7ee;
    display: inline-block;
}
.aside .list_btn:hover,.aside .current{
    background: #0baf57;
    color:#FFF;
}
.main .container
{
    height:100%;


}


.errorSummary
{
    border:2px solid #C00;
    background:#FEE;
    font-size:.9em;
    margin:0 0 20px;
    padding:7px 7px 12px;
}

.errorSummary p
{
    margin:0;
    padding:5px;
}

.errorSummary ul
{
    color:red;
    margin:0;
    padding:0 0 0 20px;
}

ul.yiiPager
{
    font-size:11px;
    border:0;
    line-height:100%;
    display:inline;
    margin:0;
    padding:0;
}

ul.yiiPager li
{
    display:inline;
}

ul.yiiPager a:link,ul.yiiPager a:visited
{
    border:solid 1px #9aafe5;
    font-weight:700;
    color:#0e509e;
    text-decoration:none;
    padding:1px 6px;
}

ul.yiiPager .page a
{
    font-weight:400;
}

ul.yiiPager a:hover
{
    border:solid 1px #0e509e;
}

ul.yiiPager .selected a
{
    background:#2e6ab1;
    color:#fff;
    font-weight:700;
}

ul.yiiPager .hidden a
{
    border:solid 1px #dedede;
    color:#888;
}

ul.yiiPager .first,ul.yiiPager .last
{
    display:none;
}

.btn:hover,.form .btn:hover
{
    background:0;
}

.form span.required,.errorMessage,.listTag a:hover
{
    color:red;
}
#footer{
    clear:both;
    text-align: center;
    height:30px;
    background-color: #f1f1f1;
    background-image: -webkit-gradient(radial,100 36,0,100 -40,120,from(#fafafa),to(#f1f1f1));
    border-top: 1px solid #e2e2e2;
    line-height: 30px;
}